<div class="content">
  <div class="container-fluid">
    <div class="flex itesm-center justify-content-between mb-2">
        <h4 class="page-title mb-0">Danh sách loại sản phẩm</h4>
        <a class="badge badge-default" href="categories/create">Tạo loại sản phẩm</a>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table table-head-bg-success">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Image</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <% categories.forEach(function(category, index){ %>
            <tr>
                <td><%=index+1%></td>
                <td>
                    <img src="<%=category.image%>" alt="iage" class="category-label" /> 
                </td>
                <td><%=category.code%></td>
                <td><%=category.name%></td>
              </tr>
          <% }); %>
          <tbody>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
